<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Search Result : {{keyword}}</h2>
    {% for job in jobs %}
    <div>
        <span>{{job.company}}</span>
        <span>{{job.position}}</span>
        <span>{{job.location}}</span>
        <a href="{{job.link}}" target="_blank"> Apply Now &rarr; </a>
    </div>

    {% endfor %}
</body>

</html>